/* Reset and General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #666666;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header Styles */
header {
    background-color: #C8E9F2;
    color: #548390;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

header img.logo {
    max-width: 150px;
    margin-left: 20px;
}

header nav {
    flex-grow: 1;
    text-align:left ;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #7DC6DA;
}

/* Hero Section Styles */
.hero {
    background-image: url('images/hero_background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 3em;
    margin: 0 0 20px 0;
}

.hero p {
    font-size: 1.2em;
    margin: 0 0 30px 0;
}

.cta-button {
    background-color: #fff;
    color: #333;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s;
}

/* Main Content Section */
.main-content {
    padding: 50px 20px;
}

/* Services Section */
.services-section {
    text-align: left;
}

.services-section h2 {
    color: #666666;
    margin-bottom: 20px;
    text-align: center;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.service h3 {
    color: #666666;
    margin-bottom: 10px;
}

.service p,
.service ul {
    color: #666666;
    line-height: 1.6;
}

.service ul li {
    list-style: disc;
    margin-left: 20px;
}

.service ul li strong {
    color: #333333;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #C8E9F2;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #333333;
}
.additional-images .image-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.additional-images .image-row img {
    max-width: 30%;
    height: auto;
}
